:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;

  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
  left: 50%;
}

.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}

.sidebar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
  bottom: -30px;
}

.sidebar ul li a {
  transition: var(--main-transition);
  margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f5f5f5;
}

.sidebar ul li a span {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar */

/* Start Content */
.content {
  overflow: hidden;
}
/* Start Head */

.content .head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}

.content .head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 30px;
  width: 160px;
  transition: width var(--main-transition);
}

.content .head .search input:focus {
  width: 200px;
}

.content .head .search input::placeholder {
  color: #999;
}

.content .head .search input:focus::placeholder {
  opacity: 0;
}

.content .head .icons .notification {
  cursor: pointer;
}

.content .head .icons .notification::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

.content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  cursor: pointer;
}
/* End Head */

.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -10px;
}

.page h1::before {
  width: 120px;
  background-color: white;
}

.page h1::after {
  width: 40px;
  background-color: black;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* Start Welcom Widget */
.welcome {
  overflow: hidden;
}

.welcome .intro img {
  width: 200px;
}

.welcome .avatar {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-top: -32px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
}

.welcome .body {
  /* justify-content: space-around; */
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.welcome .body > div {
  flex: 1;
}

.welcome .visit {
  margin: 0 15px 15px auto;
  /* transition: var(--main-transition); */
}

/* .welcome .visit:hover {
  background-color: var(--blue-alt-color);
} */

@media (max-width: 767px) {
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:first-child) {
    margin-top: 25px;
  }
  .welcome .body > div span {
    margin-top: 5px;
  }
}
/* End Welcom Widget */

/* Start Quick Draft Widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}

.quick-draft .save {
  margin-left: auto;
  /* transition: var(--main-transition); */
  cursor: pointer;
}

/* .quick-draft .save:hover {
  background-color: var(--blue-alt-color);
} */
/* End Quick Draft Widget */

/* Start Targets */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.targets .details {
  flex: 1;
}

.targets .details .progress {
  height: 4px;
}

.targets .details .progress > span {
  position: absolute;
  height: 4px;
  top: 0;
  left: 0;
}

.targets .details .progress > span span {
  position: absolute;
  color: white;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 6px;
  bottom: 16px;
  right: -16px;
}

.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  /* border-width: 5px;
  border-style: solid;
  border-color: transparent; */
  border: 5px solid transparent;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}

.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}

.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}

/* End Targets */

/* Start Tickets */
.tickets .card {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .card {
    width: 100%;
  }
}

/* End Tickets */

/* Start News */

.news .news-row:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}

.news .news-row .info {
  flex: 1;
}

.news .news-row .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}

.news .news-row .time {
  padding: 6px 10px;
}

@media (max-width: 767px) {
  .news .news-row {
    flex-direction: column;
  }
  .news .news-row img {
    margin: 0 0 15px;
  }
  .news .news-row .time {
    margin-top: 20px;
  }
}

/* End News */

/* Start Tasks */
.tasks .row:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.tasks .row .info {
  flex: 1;
}

.tasks .row .info h3 {
  font-size: 16px;
}

.tasks .done {
  opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}

.tasks .row .delete {
  transition: var(--main-transition);
  cursor: pointer;
}

.tasks .row i:hover {
  background-color: white;
  color: var(--red-color);
}

/* End Tasks */

/* Start Search Items */

.search-items .item-row .count {
  padding: 4px 10px;
}
/* End Search Items */

/* Start latest uploads */
.latest-uploads .upload-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-uploads .upload-row > .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.latest-uploads .upload-row .info {
  flex-grow: 1;
}

.latest-uploads .upload-row .size {
  padding: 4px 10px;
}
/* End latest uploads */

/* Start last project progress */
.last-project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: 11px;
}

.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  margin-right: 15px;
  z-index: 1;
}

.last-project ul li.done::before {
  background-color: var(--blue-color);
}

.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}

.last-project .launch-icon {
  opacity: 0.1;
  width: 160px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* End last project progress */

/* Start Reminders */
.reminders .key {
  width: 16px;
  height: 16px;
}

.reminders li div {
  border-left: 2px solid;
}

.reminders li div.blue {
  border-color: var(--blue-color);
}

.reminders li div.green {
  border-color: var(--green-color);
}

.reminders li div.orange {
  border-color: var(--orange-color);
}

.reminders li div.red {
  border-color: var(--red-color);
}

/* End Reminders */

/* Start post */
.post .head .avatar {
  width: 48px;
}

.post .post-content {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.8;
  min-height: 140px;
}

@media (max-width: 767px) {
  .post .head > img {
    margin: 0 0 10px;
  }
}
/* End post */

/* Start social media */
.social-media .media-row {
  padding-left: 70px;
}

.social-media .media-row i {
  width: 52px;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  cursor: pointer;
}

.social-media .media-row:hover i {
  transform: rotate(6deg);
}

/* Start Twitter */
.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
}
.social-media .twitter > span {
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
/* End Twitter */

/* Start Facebook */
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
}
.social-media .facebook > span {
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
/* End Facebook */

/* Start YouTube */
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
}
.social-media .youtube > span {
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
/* End YouTube */

/* Start Linkedin */
.social-media .linkedin {
  background-color: rgb(10 102 194 / 20%);
}
.social-media .linkedin > span {
  color: #0a66c2;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0a66c2;
}
/* End Linkedin */

/* End social media */

/* Start porject table */
.projects .responsive-table {
  overflow-x: auto;
}

.projects table {
  min-width: 1000px;
  border-spacing: 0;
}

.projects table td {
  padding: 15px;
  border: 1px solid #eee;
}

.projects table thead td {
  background-color: #eee;
  font-weight: bold;
}

.projects table tbody tr:hover td {
  background-color: #faf7f7;
}

.projects table img {
  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
}

.projects table img:not(:first-child) {
  margin-left: -20px;
}

.projects table .label {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
}
/* End porject table */

/* Start settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.settings-page .close-message {
  resize: none;
  border: 1px solid #ccc;
  min-height: 150px;
}

.settings-page input[type="email"] {
  display: inline-flex;
  width: calc(100% - 80px);
  cursor: no-drop;
}

.settings-page .sec-box:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.settings-page .sec-box:last-of-type a {
  background-color: #eee;
  color: black;
}

.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0px 0 6px;
  transition: var(--main-transition);
}

.settings-page .social-boxes input {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: #f6f6f6;
  padding-left: 10px;
}

.settings-page .social-boxes > .twitter:focus-within i {
  color: #1da1f2;
}

.settings-page .social-boxes > .facebook:focus-within i {
  color: #1877f2;
}

.settings-page .social-boxes > .linkedin:focus-within i {
  color: #0a66c2;
}

.settings-page .social-boxes > .youtube:focus-within i {
  color: #f00;
}
/* Start widget control */
.settings-page .widget-control ul li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

.settings-page .widget-control ul li label {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.settings-page .widget-control ul li label::before,
.settings-page .widget-control ul li label::after {
  position: absolute;
  border-radius: 5px;
  top: 50%;
  margin-top: -9px;
  left: -5px;
}

.settings-page .widget-control ul li label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid gray;
}

.settings-page .widget-control ul li label:hover::before {
  border-color: var(--blue-color);
}

.settings-page .widget-control ul li label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  margin-top: -9px;
  background-color: var(--blue-color);
  color: white;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transform: scale(0) rotate(0turn);
  transition: var(--main-transition);
}

.settings-page
  .widget-control
  ul
  li
  input[type="checkbox"]:checked
  + label::after {
  transform: scale(1) rotate(1turn);
}
/* End widget control */

/* Start backup control */
.settings-page .backup-control input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.settings-page .backup-control .date label {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.settings-page .backup-control .date label::before {
  content: "";
  border: 2px solid var(--grey-color);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  background-color: white;
}

.settings-page .backup-control .date label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  left: 5px;
  top: 5px;
  transition: var(--main-transition);
  transform: scale(0);
}

.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::before {
  border-color: var(--blue-color);
}

.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::after {
  transform: scale(1);
}

.settings-page .backup-control .servers {
  border-top: 1px solid #eee;
}

@media (max-width: 767px) {
  .settings-page .backup-control .servers {
    flex-direction: column;
  }
  .settings-page .backup-control .servers .server {
    margin-bottom: 10px;
  }
}

.settings-page .backup-control .servers .server {
  border: 2px solid #eee;
}

.settings-page .backup-control .servers .server label {
  cursor: pointer;
}

.settings-page .backup-control .servers input[type="radio"]:checked + .server {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
/* End backup control */

/* Start Profile Page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}

.profile-page .overview .avatar-box {
  width: 300px;
}

@media (min-width: 768px) {
  .profile-page .overview .avatar-box {
    border-right: 1px solid #eee;
  }
}

.profile-page .overview .avatar-box > img {
  width: 120px;
  height: 120px;
}

.profile-page .overview .avatar-box .level {
  height: 6px;
  width: 70%;
  overflow: hidden;
}

.profile-page .overview .avatar-box .level span {
  background-color: var(--blue-color);
  display: block;
  height: 100%;
  border-radius: 6px;
}

.profile-page .overview .info-box .row {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: var(--main-transition);
}

.profile-page .overview .info-box .row:hover {
  background-color: #f9f9f9;
}

.profile-page .overview .info-box .row > div {
  min-width: 250px;
  padding: 10px 0 0;
}

.profile-page .overview .info-box .row h4 {
  font-weight: normal;
}

.profile-page .overview .info-box .row .toggle-switch {
  height: 20px;
}

.profile-page .overview .info-box .row .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}

.profile-page
  .overview
  .info-box
  .row
  .toggle-checkbox:checked
  + .toggle-switch::before {
  left: 62px;
}

@media (max-width: 767px) {
  .profile-page .overview .info-box .toggle-switch {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}

.profile-page .other-data .skills-card {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .profile-page .other-data .skills-card {
    width: 100%;
    text-align: center;
  }
}

.profile-page .other-data .skills-card ul li {
  padding: 15px 0;
}

.profile-page .other-data .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.profile-page .other-data .skills-card ul li span {
  background-color: #eee;
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 6px;
}

.profile-page .other-data .activities {
  flex-grow: 2;
}

.profile-page .other-data .activities .activity:not(:last-of-type) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .profile-page .other-data .activities .activity {
    flex-direction: column;
  }
}

.profile-page .other-data .activities .activity img {
  width: 64px;
  height: 64px;
}

@media (max-width: 767px) {
  .profile-page .other-data .activities .activity img {
    margin: 0 0 10px;
  }
  .profile-page .other-data .activities .activity .info {
    margin: 0 0 15px;
  }
  .profile-page .other-data .activities .activity .info span:first-of-type,
  .profile-page .other-data .activities .activity .data span:first-of-type {
    margin: 0 0 5px;
  }
}

@media (min-width: 768px) {
  .profile-page .other-data .activities .activity img {
    width: 64px;
    height: 64px;
  }
  .profile-page .other-data .activities .activity .data {
    margin-left: auto;
    text-align: right;
  }
}

/* End Profile Page */

/* Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin: 10px;
    gap: 10px;
  }
}

.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.projects-page .project h4 {
  font-weight: normal;
}

.projects-page .project .team {
  min-height: 80px;
  position: relative;
}

.projects-page .project .team a {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: var(--main-transition);
}

.projects-page .project .team a:nth-of-type(2) {
  left: 25px;
}

.projects-page .project .team a:nth-of-type(3) {
  left: 50px;
}

.projects-page .project .team a:nth-of-type(4) {
  left: 75px;
}

.projects-page .project .team a:nth-of-type(5) {
  left: 100px;
}

.projects-page .project .team img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.projects-page .project .team a:hover {
  z-index: 2;
}

.projects-page .project .do {
  justify-content: flex-end;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.projects-page .project .do span {
  padding: 3px 8px;
  margin-left: 5px;
  width: fit-content;
}

@media (max-width: 767px) {
  .projects-page .project .do {
    flex-direction: column;
  }
  .projects-page .project .do span {
    margin: 0 0 15px 0;
  }
  .projects-page .project .do span:last-of-type {
    margin-bottom: 0;
  }
}

.projects-page .project .info {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.projects-page .project .info .prog {
  height: 8px;
  width: 260px;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .projects-page .project .info {
    flex-direction: column;
  }
  .projects-page .project .info .prog {
    margin-bottom: 15px;
  }
}
.projects-page .project .info .prog > span {
  position: absolute;
  height: 100%;
  border-radius: 5px;
}

/* End Projects Page */

/* Start Courses Page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.courses-page .course {
  overflow: hidden;
}

.courses-page .course img.cover {
  max-width: 100%;
}

.courses-page .course img.instructor {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}

.courses-page .course .description {
  line-height: 1.6;
}

.courses-page .course .info {
  font-size: 13px;
  border-top: 1px solid #eee;
}

.courses-page .course .info .title {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
/* End Courses Page */

/* Start Friends Page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
  .friends-page {
    gap: 10px;
    margin: 20px 10px;
  }
}

.friends-page .friend .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}

.friends-page .friend .contact i {
  color: #666;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  font-size: 13px;
  cursor: pointer;
  transition: var(--main-transition);
}

.friends-page .friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}

.friends-page .friend .icons {
  padding: 15px 0;
  margin: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.friends-page .friend .icons i {
  margin-right: 5px;
}

.friends-page .friend .icons .vip {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
}

.friends-page .friend .info {
}

.friends-page .friend .info a:first-of-type {
  background-color: var(--blue-color);
}

.friends-page .friend .info a:last-of-type {
  background-color: var(--red-color);
}

/* End Friends Page */

/* Start Files Page */
.files-page {
  align-items: flex-start;
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
    margin: 10px;
    gap: 10px;
  }
}

.files-page .files-stats {
  min-width: 260px;
}

.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}

.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}

.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}

.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}

.files-page .files-stats .size {
  margin-left: auto;
}

.files-page .files-stats .upload {
  padding: 10px 15px;
  display: block;
  margin: auto;
}

.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}

.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-page .files-content .file > i {
  cursor: pointer;
}

.files-page .files-content .file img {
  width: 64px;
  height: 64px;
  transition: var(--main-transition);
}

.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}

.files-page .files-content .file .info {
  border-top: 1px solid #eee;
}
/* End Files Page */

/* Start toggle */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: var(--main-transition);
  cursor: pointer;
}

.toggle-switch::before {
  content: "\f00d";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: white;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: var(--main-transition);
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}
/* End toggle */

.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}

/* End settings */
/* End Content */

/* Start Animation */
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* End Animation */
